
<app-notification
instaceName="notifications"
(instanceObser)="engineService.setIntance($event)"
[sub$]="engineService.getSubs('notifications')"
></app-notification>

<div class="container">
  <div class="row">
    <app-user-form 
    class="col l6"
    instaceName="form1"
    (instanceObser)="engineService.setIntance($event)"

    ></app-user-form>
    <app-data-viewer [data$]="engineService.getSubs('form1')"></app-data-viewer>
  </div>
  <div class="row" [hidden]="!displayResults" >
    <h5>Results</h5>
    <app-data-viewer class="col l6" [data$]="searchResults$"></app-data-viewer>
  </div>
</div>

